body{
  padding: 64px 120px 29px 120px ;
  display: flex;
  flex-direction: column;
  gap: 21px;

}

.header{
display: flex;
justify-content: space-between;

}
.navigation{
  display: flex;
  width: 270px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

  .navigation a{
    margin-right: 3%; 
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:rgba(125, 121, 135, 1);
    
  }
  .navigation a:hover{
    color: black;
    font-weight: 700;
  }

  .main-content{
    display: flex;
    justify-content:space-between;

  }
  .main-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }

  .main-info-text h1{
    text-transform: uppercase;
    font-size: 48px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .main-info-text span{
   color: rgba(137, 197, 204, 1);
   line-height: 150%;
   letter-spacing: 0%;
  }

  .main-info-text p {
  color:rgba(125, 121, 135, 1);
  font-family: "Open Sans", sans-serif;
  font:16px;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  }
  .main-info-text p span{
    color:rgba(125, 121, 135, 1);
    font-family: "Open Sans", sans-serif;
    font-size:16px;
    line-height: 160%;
    font-weight: 700;
    font-style: normal;
    }
  
    .start-button {
      font-family: "Open Sans", sans-serif;
      font-size:16px;
      font-weight: 500;
      color: aliceblue;
      padding: 16px 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      background-color:rgba(105, 185, 157, 1);
      border: none;

    }

   footer {
  font-size: 14px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font:16px;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
   }
   footer span{
    font-size: 14px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font:16px;
    line-height: 160%;
    font-weight: 700;
    font-style: normal;
     }




 
